{{ 'component-collection-hero.css' | asset_url | stylesheet_tag }}

<div class="collection-hero">
  <div class="collection-hero__inner">
    {%- if section.settings.scroll_title -%}
      <div class="collection-hero__text-wrapper scroll-text">
        <div class="scroll-text__scroll-wrapper">
          <div class="scroll-text__text-wrapper">
            <h1>{{- collection.title | escape -}}</h1>
            <div class="collection-hero__dot">&nbsp;</div>
            <h1>{{- collection.title | escape -}}</h1>
            <div class="collection-hero__dot">&nbsp;</div>
            <h1>{{- collection.title | escape -}}</h1>
            <div class="collection-hero__dot">&nbsp;</div>
          </div>
          <div class="scroll-text__text-wrapper">
            <h1>{{- collection.title | escape -}}</h1>
            <div class="collection-hero__dot">&nbsp;</div>
            <h1>{{- collection.title | escape -}}</h1>
            <div class="collection-hero__dot">&nbsp;</div>
            <h1>{{- collection.title | escape -}}</h1>
            <div class="collection-hero__dot">&nbsp;</div>
          </div>
        </div>
      </div>
    {% else %}
      <div class="collection-hero__text-wrapper">
        <h1>{{- collection.title | escape -}}</h1>
      </div>
    {%- endif -%}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-collection-banner.name",
  "class": "spaced-section spaced-section--full-width",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.main-collection-banner.settings.paragraph.content"
    },
    {
      "type": "checkbox",
      "id": "scroll_title",
      "default": true,
      "label": "Scroll collection title"
    }
  ]
}
{% endschema %}
